

:root{
  --primary-color : #ECE3CE;
}

/* CSS */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}
#logo{
  width: 150px;
  height: auto;
}
.nav-bar{
  padding: 10px;
}
.nav-contents-1,.nav-contents-2{
  margin-top: 40px;
}
.nav-contents-1 ul{
  display: flex;
}
.nav-contents-1 ul li{
  margin: auto 50px;
  font-size: 20px;
}
.nav-contents-2 ul{
  display: flex;
}
.nav-contents-2 ul li{
  margin: auto 20px;
}
.nav-contents-2 ul li input{
  border: none;
  background-color: transparent;
}
.nav-contents-2 ul li input:focus{
  outline: none;
  border-bottom: 1px solid gray;
}
.nav-icons{
  height: 20px;
}
#cart-icon-cont{
  position: relative;
}
.cart-count{
  position: absolute;
  background-color: rgb(154, 181, 104);
  border-radius: 11px;
  text-align: center;
  font-size: 14px;
  padding: 2px;
  width: 20px;
  height: 20px;
  margin-top: -30px;
  margin-left: 15px;
}
#hr-nav{
  border: 2px solid gray;
}
.Home-main{
  height: 100vh;
}
.hot-content-details{
  position: absolute;
  line-height: 1.5;
  top: 50%;
  left: 15%;
}
.hot-content-details button{
  border: 1px solid rgb(174, 131, 67);
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(174, 131, 67);
}
.Home-main img{
  height: 100vh;
  width: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
}

/* Product */

.product-cont{
  position: relative;
  border: 2px solid var(--primary-color);
  width: 250px;
  /* height: 250px; */
  display: inline-block;
  margin: 20px;
  padding: 10px;
}
#heart{
  position: absolute;
  left: 200px;
  top: 20px;
  height: 25px;
  width: auto;
  
}
#heart:hover{
  fill: red;
}
.product-cont img{
  width: 226px;
  height: 300px;
}
.Announcing-tag{
  /* display: none; */
  position: absolute;
  background-color: aqua;
  padding: 5px;
}

/* News Letter */

.news-letter{
  background-color: rgb(251, 241, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 150px;
  line-height: 2;
}
.news-letter div{
  margin: 20px;
}
.news-letter div input{
  outline: none;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 10px;
  margin-right: 10px;
}
.news-letter div button{
  border: 1px solid rgb(201, 143, 55);
  border-radius: 25px;
  padding: 10px;
  margin-left: 10px;
  background-color: rgb(201, 143, 55);
}